.profile__edit-button {
  grid-area: edit-button;
  padding: 0;
  border: 1px #fff solid;
  background-color: #000;
  background-image: url(../../../images/profile/Edit-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-self: end;
  margin-bottom: 9px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: opacity linear .3s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    margin-bottom: 6px;
  }
}


@media screen and (max-width: 530px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-bottom: 7px;
  }
}
