.page {
    max-width: 880px;
    margin: 0 auto;
    background-color: #000;
    padding: 45px 45px 60px;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .page {
    padding: 35px 30px 45px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 28px 0 36px;
  }
}
