.header {
  padding-bottom: 40px;
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.header::after {
  content: "";
  height: 1px;
  background:#545454;
  opacity: .7;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 425px) {
  .header {
    padding-bottom: 30px;
    margin-bottom: 42px;
  }
}
