.profile__add-button {
  padding: 0;
  border: 2px #fff solid;
  border-radius: 2px;
  background-image: url(../../../images/profile/Add-Button.svg);
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 4/5;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  background-color: #000;
  cursor: pointer;
  transition: opacity linear .3s;
}

.profile__add-button:hover {
  opacity: .6;
}


@media screen and (max-width: 1024px) {
  .profile__add-button{
    grid-column: 2/3;
  }
}

@media screen and (max-width: 530px) {
  .profile__add-button {
    margin-top: 10px;
    width: 100%;
    grid-column: 1/2;
  }
}
