.popup__close {
  background-image: url(../../../images/popup/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -39px;
  top: -39px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity linear .3s;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
