.form__input {
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  background-color: transparent;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 10px;
}

.form__input:last-of-type {
  margin-bottom: 45px;
}

.form__input:focus {
  outline: none;
}
