/* normalize */
@import url(../vendor/normalize.css);

/* fonts */
@import url(../vendor/fonts/inter.css);

/* pages */
@import url(../blocks/page/page.css);

/* header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/* content */
@import url(../blocks/content/content.css);

/* profile */
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__user-name/profile__user-name.css);
@import url(../blocks/profile/__user-status/profile__user-status.css);

/* elements */
@import url(../blocks/elements/elements.css);


/* element */
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__header/element__header.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__photo/element__photo.css);
@import url(../blocks/element/);
